$sidebar-bg-color: #1d1d1d !default;
$sidebar-color: #adadad !default;
$sidebar-width: 270px !default;
$sidebar-collapsed-width: 80px !default;
$highlight-color: #d8d8d8 !default;
$submenu-bg-color: #2b2b2b !default;
$submenu-bg-color-collapsed: #2b2b2b !default;
$icon-bg-color: #2b2b2b !default;
$icon-size: 35px !default;
$submenu-indent: 24px !default;

$breakpoint-xs: 480px !default;
$breakpoint-sm: 576px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 992px !default;
$breakpoint-xl: 1200px !default;
$breakpoint-xxl: 1600px !default;

.admin-container {
    display: flex;
    .admin-sidebar {
        .pro-sidebar {
            //color: $sidebar-color;
            height: 100vh !important;
            //width: $sidebar-width;
            //min-width: $sidebar-width;
            text-align: left;
            transition: width, left, right, 0.3s;
            position: relative;
            z-index: 1009;
            > .pro-sidebar-inner {
              background: $sidebar-bg-color;
              height: 100%;
              position: relative;
              z-index: 101;
          
              > img.sidebar-bg {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                position: absolute;
                opacity: 0.3;
                left: 0;
                top: 0;
                z-index: 100;
              }
          
              > .pro-sidebar-layout {
                height: 100%;
                overflow-y: auto;
                overflow-x: hidden;
                position: relative;
                display: flex;
                flex-direction: column;
                z-index: 101;
          
                .pro-sidebar-header {
                  border-bottom: 1px solid rgba($sidebar-color, 0.2);
                }
                .pro-sidebar-content {
                  flex-grow: 1;
                }
                .pro-sidebar-footer {
                  border-top: 1px solid rgba($sidebar-color, 0.2);
                }
                ul {
                  list-style-type: none;
                  padding: 0;
                  margin: 0;
                }
            }
            }
    }
}
}