.admin-container {
  display: flex;

  .admin-sidebar {
    .pro-sidebar {
      display: flex;
      flex-direction: column;
      height: 100vh;

      .pro-sidebar-header {
        padding: 24px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14;
        letter-spacing: 1px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: white;
      }

      .pro-sidebar-content {
        flex: 1;
        color: white;

        border-top: 1px solid gray;
        border-bottom: 1px solid gray;

      }
    }

    .pro-sidebar-footer {
      text-align: center;
    }
  }
}

.admin-content {
  width: 100%;

  .admin-header {
    height: 40px;
    border: 1px solid green;
  }

  .admin-main {
    border: 1px solid red;
  }
}